#main {
  display: flex;
  background-color: rgba(167, 167, 178, 0.6);
}

/*************************Left colone : Friend list************************/

.leftCol {
  flex-direction: column;
  display: flex;
  background: rgba(38, 42, 84, 0.5);
  color: white;
/*  flex: 0 0 0;*/
  border-radius: 16px;
}

#currentPseudo {
  margin-left: 30px;
  font-family: Lucida Console;
  font-size: 35px;
}

.friendScroll {
  margin-left: 45px;
  margin-bottom: 15px;
  font-family: Lucida Console;
  background-color: #ebe8df;
  color: rgba(10, 14, 85, 0.8);
  padding-left: 1%;
  border: 5px rgba(10, 14, 85, 0.8);
  padding:  0em 1em;
  border-radius: 16px;
  font-size: 24px;
  line-height: 2;
  margin-right: 90px;
}

#listF{
  border-left: 20px solid #0a0e55;
  list-style-type: none;
  padding: 10px 20px;
  margin-left: 10px;
}

.submenu {
  font-family: Lucida Console;
  margin-left: -48px;
  list-style-type:none;
}

/*************************Third colone : Add a Movie ************************/

.add {
  font-size: 100%;
  margin-left: 50px;
  font-family: Lucida Console;
  background-color: rgba(119, 119, 119, 0.5);
  border-radius: 15px;
  position: static;
}

.search{
  font-size: 150%;
  margin-bottom: 50px;
}

.input input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

#listM1{
  border-left: 18px solid #0a0e55;
  padding: 10px 20px;
  padding-left: -50px;
  margin-left: 1px;
}

#listM2 {
  list-style-type: none;
  margin-left: -50px;
  margin-bottom: -20px;
  text-decoration: none;
  font-weight: bold;
  font-family: Calibri;
  font-size: 120%;
}

#movieLine:link{
  color: #0a0e55;
  text-decoration: none;
}

#movieLine:visited{
  color: #0a0e55;
}

.addF{
  margin-left: 50px;
  font-family: Lucida Console;
  background-color: rgba(119, 119, 119, 0.5);
}

/************* Popup for movie ****************/

.modal-box.outer {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(119, 119, 119, 0.5);
}

.modal-box.inner {
  position: absolute;
  z-index: -1;
  top: 30%;
  left: 40%;
  width: 300px;
  height: 200px;
  background-color: #fff;
  color: #0a0e55;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.9);
  border-radius: 3px;
}

.modal-box.outer header {
  border-bottom: 1px solid black;
  text-align: center;
}

.modal-box.outer .inner-buttons {
  position: absolute;
  bottom: 0;
  padding-left: 30%;
  padding-bottom: 1.5em;
}

.modal-box.outer .inner-buttons button {
  margin-right: 1em;
}

#favMovies {
  margin-left: 30px;
  margin-bottom: 0px;
  display: flex;
  font-family: "Agency FB";
  font-size: 40px;
  color: rgba(10, 14, 85, 0.8);
}

#kenzaMovieLi {
  display: flex;
  font-family: "FreeMono";
  font-size: 20px;
  color: black;
}

#kenzaMovieUl {
  border-left: 20px solid #0a0e55;
  background-color: #ebe8df;
  list-style-type: none;
  padding: 10px 20px;
}

/*************************Main colone : Movies list************************/

.div1::-webkit-scrollbar {
  display: flex;
  width:10px;
  margin: 20px;
  overflow-y: scroll;
  flex-direction: column;
  flex: 1 0 0;
}

#favMov{
  margin-left: 10px;
  font-family: "Agency FB";
  color: rgba(10, 14, 85, 0.8);
  font-size: 50px;
}

.ul1 {
  list-style-type: none;
  width: 700px;
  font: 200 15px/1.5 Lucida Console , serif;
  color: rgba(10, 14, 85, 0.8);
}

.title {
  font: bold 20px/1.5 Lucida Console, sans-serif;
  color: rgba(10, 14, 85, 0.8);
}

.li1 img {
  float: left;
  margin: 0 15px 0 0;
}

.li1 p {
  font: 200 15px/1.5 Helvetica, Verdana , serif;
  color: rgba(10, 14, 85, 0.8);
}

.li1 {
  padding: 10px;
  overflow: auto;
}

.li1 span{
  font: bold 15px/1.5 Helvetica, Verdana, sans-serif;
  color: rgba(10, 14, 85, 0.8);
}

li:hover {
  background: #eee;
  cursor: pointer;
}







