<main id="main">

  <section class="leftCol">
    <h2>{{currentUser.pseudo}}</h2>

    <span class="friendScroll" (click)="hoverIn()"  role="button"
          title="friends">Friends</span>
    <div *ngIf="hoverEdit">
      <ul class="submenu" *ngFor="let friend of friends">
        <li>
          <span (click)="details2(friend)">{{friend.pseudo}}</span>
        </li>
      </ul>
    </div>
  </section>


  <form class="add">
    <input type="text" name="Movie" [(ngModel)]="movieTitleInput" (click)="movieTitleInput=''"
           (input)="findOMDBMovies()">
    <div *ngFor="let movie of foundMovies">
      <ul>
        <li>
          {{movie.Title}}
        </li>
      </ul>

    </div>
    {{foundMovie.Title}}

    <button (click)="createMovie()"> Favorite Movie</button>
  </form>

</main>
